*.xcframework/
.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
webcam-prototype/.venv/
webcam-prototype/models/*.pt
webcam-prototype/models/*.onnx
webcam-prototype/models/*.mlpackage
webcam-prototype/models/*.mlmodel
webcam-prototype/models/*.mlmodelc
